@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
body .design {
  color: white;
  background-image: url(interactive-card-details-form-main/images/bg-main-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
body .design .card-back {
  position: relative;
  background-image: url(interactive-card-details-form-main/images/bg-card-back.png);
  left: 6em;
  margin-top: 3em;
  width: 21em;
  height: 17em;
  background-repeat: no-repeat;
  background-size: contain;
}
body .design .card-back h6 {
  position: absolute;
  color: hsl(270deg, 3%, 87%);
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.7em;
  right: 50px;
  top: 40%;
  transform: translateY(-175%);
}
body .design .card-front {
  position: relative;
  background-image: url(interactive-card-details-form-main/images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 21em;
  height: 17em;
  left: 2em;
  bottom: 10.5em;
}
body .design .card-front .circle {
  position: relative;
  width: 40px;
  height: 40px;
  left: 6%;
  top: 6%;
  background-color: white;
  border-radius: 50%;
}
body .design .card-front .circle::after {
  content: "";
  background-color: transparent;
  border: solid 2px hsl(270deg, 3%, 87%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 130%;
  top: 35%;
}
body .design .card-front .card-number {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  position: relative;
  bottom: -3em;
  left: 8%;
  font-size: 1.3em;
  letter-spacing: 2px;
}
body .design .card-front .nameanddate {
  text-transform: uppercase;
  color: hsl(270deg, 3%, 87%);
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-evenly;
  top: 9em;
  left: 1em;
}
body .design .card-front .nameanddate .name {
  font-size: 0.8em;
  margin-right: 11em;
}
body .design .card-front .nameanddate .date {
  font-size: 0.8em;
  margin-left: auto;
}
body .confirm {
  position: relative;
  top: -13em;
  margin-left: 2em;
}
body .confirm form input {
  position: relative;
  margin-bottom: 1.5em;
  color: hsl(278deg, 68%, 11%);
  border-radius: 10px;
  padding: 1em;
  width: 25em;
  border: solid 1px hsl(270deg, 3%, 87%);
}
body .confirm form input::-moz-placeholder {
  color: hsl(270deg, 3%, 87%);
}
body .confirm form input:-ms-input-placeholder {
  color: hsl(270deg, 3%, 87%);
}
body .confirm form input::placeholder {
  color: hsl(270deg, 3%, 87%);
}
body .confirm form input:focus {
  outline-color: hsl(278deg, 94%, 30%);
}
body .confirm form h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(278deg, 68%, 11%);
  font-size: 0.8em;
  margin-bottom: 0.6em;
}
body .confirm form .exp-dateandcvc {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .confirm form .exp-dateandcvc .h3first {
  margin-right: 2.5em;
}
body .confirm form .exp-date-input-div {
  display: flex;
  flex-flow: row wrap;
}
body .confirm form .exp-date-input-div .exp-date {
  width: 5em;
  margin-right: 10px;
}
body .confirm form .exp-date-input-div .exp-date2 {
  width: 5em;
  margin-right: 10px;
}
body .confirm form .exp-date-input-div .cvcnumber {
  width: 13em;
}
body .submit {
  width: 20em;
  background-color: hsl(278deg, 68%, 11%);
  color: white;
  height: 3.5em;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5em;
}/*# sourceMappingURL=main.css.map */